@model PeugeotWorkFlow.Models.CategoryInFournisseur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryInFournisseur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Lbl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Lbl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fournisseur.Nom_frn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fournisseur.Nom_frn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
